.AppHeader{
display: flex;
justify-content: space-between;
text-align: right;
background-color: #282c34;
height: 65px;
margin-bottom: 3px;
padding-right: 5px;
border-bottom: 3px grey solid;
}

.App-logo {
height: 60px;
width: 60px;
border-radius: 50%;
margin-right: 15px;
pointer-events: none;
}

.header_title{ 
    color: #fff; 
    font-size: 2rem; 
    line-height: 4rem;
    margin-left: 15px;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo { animation: App-logo-spin infinite 20s linear; }
}
@keyframes App-logo-spin {
from {transform: rotate(0deg);   }
to {  transform: rotate(360deg); }
}
