input {}

.timeEvent__input {}

.timeEvent_textarea{
width: 100%;
height: 20px;
margin: 30px 0;
}



.button-timeDiapasonS {
display: inline-block;
width: 100px;
height: 50px;
background-color: gray;
color: #fff;
opacity: 0.8;
&:hover, &:active{
    line-height: 35px;
    background-color:aqua;
    color: #282c34; 
    opacity: 0.7;
}
}
.button-timeDiapasonM {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: gray;
    color: #fff;
    opacity: 0.8;
    &:hover, &:active{
        line-height: 35px;
        background-color:aqua;
        color: #282c34; 
        opacity: 0.7;
    }
}
.button-timeDiapasonH {
        display: inline-block;
        width: 100px;
        height: 50px;
        background-color: gray;
        color: #fff;
        opacity: 0.8;
        &:hover, &:active {
            line-height: 35px;
            background-color:aqua;
            color: #282c34; 
            opacity: 0.7;

        }
}

.timer_run{
    margin-top: 20px;
    line-height: 35px;
    background-color:aqua;
    border: aqua 3px solid;
    color: #282c34; 
    opacity: 0.7; 
    width: 100%;
    height: 50px;
    &:active{
        border: #282c34 3px solid;
    }
}
.timer_clear{
    margin-top: 10px;
    line-height: 15px;
    background-color:antiquewhite;
    border: antiquewhite 3px solid;
    color: #282c34; 
    opacity: 0.7; 
    width: 100%;
    height: 20px;
    &:active{
        border: #282c34 3px solid;
    }
}