html { background-color: #282c34; color: #fff; }
body {
    //background: var(--tg-theme-bg-color); // Зададим цвета комплиментарные теме пользователя в телеграмм 
    //color: var(--tg-theme-text-color);
}



.App-content { margin: 0 auto; }
._container{ width: 1000px; margin-top: 30px; 
    @media (max-width: 999px) { width: 500px; }
    @media (max-width: 499px) { width: 300px; }
    @media (max-width: 299px) { width: 250px; }
}
.link { color: #61dafb; }

